<ion-view class="intro" hide-nav-bar="true">


    <ion-content scroll="false"
                 class="center-content">
        <!--<img src="../img/car-care-logo.png"-->
        <!--alt="" >-->
        <header>
            <h1 > Black Car </h1>
            <div class="btn-face" ng-click="login()">
                <li class="btn" >Login with Facebook</li>
            </div>
        </header>
    </ion-content>

    <!--<ion-footer-bar class="bar-calm" >-->
    <!--<button class="button button-clear button-full"-->
    <!--ng-click="login()" >Login with Facebook-->
    <!--</button >-->
    <!--</ion-footer-bar >-->
</ion-view>